.header{
  height: 100px;
  width: 100%;
  background-color: rgb(248, 241, 42);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header button{
  height: 33px;
  width: 50px;
  border-radius: 5px;
  color: black;
  background-color: aqua;
}

.header h2{
  color: rgb(243, 11, 11);
}

.logo{
  text-decoration: underline;
}